/* Resetando margens e preenchimento padrões */
body, h1, h2, p, button, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #B22222;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#profile, #comments {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 300px;
}

#profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    background-color: #B22222;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #8B0000;
}

footer {
    text-align: center;
}

textarea {
    width: 90%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    
}

#comment-list {
    margin-top: 10px;
    text-align: left;
}

#comment {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

